{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-text">
                    <h2>Tournament</h2>
                </div>
            </div>
        </div>
    </div>
</section>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:50px">



                                 <th class="success" style="color: white;">Teams</th>
                                 
                                  
                                 <th class="success" style="color: white;">payment</th>

                                  {% comment %} <th class="success" style="color: white;">License Number</th> {% endcomment %}
     {% for i in set  %}
                                <tr style="background-color:white;width: 700px;">

                                    <td>{{ i.user.user.first_name }}</td>

                                    <td>{{ i.payment }}</td>


                                    <td><button style="background-color:limegreen"><a href="Customize?id1={{i.user.user.id}}&&id5={{i.Tournament_id}}" class=" btn btn-success" >Schedule</a></button>
                                    </td>
                                </tr>


              {% endfor %}



                            </table>
      <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>

  {% endblock %}